In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

# Calculate the total number of unique schools
unique_school_names = school_data_complete["school_name"].unique()
print("Unique School Names:")
for name in unique_school_names:
    print(name)
num_unique_schools = len(unique_school_names)
print("Number of Unique School Names:", num_unique_schools)

Unique School Names:
Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School
Number of Unique School Names: 15

In [3]:
# Calculate the total number of students
student_count = total_students = len(school_data_complete['Student ID'])
print("Total number of students:", total_students)

# Calculate the total budget
total_budget = school_data['budget'].sum()
print("Total budget of the dataset:", total_budget)

average_math_score = school_data_complete['math_score'].mean()
print("Average math score:", average_math_score)

average_reading_score = school_data_complete['reading_score'].mean()
print("Average reading score:", average_reading_score)

passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

Total number of students: 39170
Total budget of the dataset: 24649428
Average math score: 78.98537145774827
Average reading score: 81.87784018381414

65.17232575950983

In [6]:
# Create a district summary DataFrame
district_summary = pd.DataFrame({
    "Total Schools": [len(school_data)],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [passing_math_percentage],
    "% Passing Reading": [passing_reading_percentage],
    "% Overall Passing Rate": [overall_passing_rate]})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:.2f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:.2f}%".format)
district_summary["% Overall Passing Rate"] = district_summary["% Overall Passing Rate"].map("{:.2f}%".format)


# Display the DataFrame
print(district_summary)

   Total Schools Total Students    Total Budget  Average Math Score  \
0             15         39,170  $24,649,428.00           78.985371

   Average Reading Score % Passing Math % Passing Reading  \
0               81.87784         74.98%            85.81%

  % Overall Passing Rate
0                 65.17%

In [9]:
# create school summary DataFrame
school_type = school_data.set_index('school_name')['type']
total_student = school_data.set_index('school_name')['size']
total_school_budget = school_data.set_index('school_name')['budget']
budget_per_student = total_school_budget/total_student

student_data = student_data.rename(columns={"school_name": "School Name"})
average_math_score = student_data.groupby('School Name')['math_score'].mean()
average_reading_score = student_data.groupby('School Name')['reading_score'].mean()

pass_math = student_data[student_data['math_score'] >= 70].groupby('School Name')['Student ID'].count()/total_student*100
pass_read = student_data[student_data['reading_score'] >= 70].groupby('School Name')['Student ID'].count()/total_student*100
overall_pass = student_data[(student_data['reading_score'] >= 70) & (student_data['math_score'] >= 70)].groupby('School Name')['Student ID'].count()/total_student*100

school_summary = pd.DataFrame({
    "School Type": school_type,
    "Total Students": total_student,
    "Per Student Budget": budget_per_student,
    "Total School Budget": total_school_budget,
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "% Overall Passing": overall_pass
})
school_summary = school_summary[['School Type', 
                                 'Total Students', 
                                 'Total School Budget', 
                                 'Per Student Budget', 
                                 'Average Math Score', 
                                 'Average Reading Score',
                                 '% Passing Math',
                                 '% Passing Reading',
                                 '% Overall Passing']]

# formatting
school_summary.style.format({'Total Students': '{:,}',
                              "Total School Budget": "${:,.2f}",
                              "Per Student Budget": "${:.2f}",
                              'Average Math Score': "{:.2f}", 
                              'Average Reading Score': "{:.2f}", 
                              "% Passing Math": "{:.2f}", 
                              "% Passing Reading": "{:.2f}",
                              "% Overall Passing": "{:.2f}"})

print(school_summary)

                      School Type  Total Students  Total School Budget  \
Bailey High School       District            4976              3124928
Cabrera High School       Charter            1858              1081356
Figueroa High School     District            2949              1884411
Ford High School         District            2739              1763916
Griffin High School       Charter            1468               917500
Hernandez High School    District            4635              3022020
Holden High School        Charter             427               248087
Huang High School        District            2917              1910635
Johnson High School      District            4761              3094650
Pena High School          Charter             962               585858
Rodriguez High School    District            3999              2547363
Shelton High School       Charter            1761              1056600
Thomas High School        Charter            1635              1043130
Wilson High School        Charter            2283              1319574
Wright High School        Charter            1800              1049400

                       Per Student Budget  Average Math Score  \
Bailey High School                  628.0           77.048432
Cabrera High School                 582.0           83.061895
Figueroa High School                639.0           76.711767
Ford High School                    644.0           77.102592
Griffin High School                 625.0           83.351499
Hernandez High School               652.0           77.289752
Holden High School                  581.0           83.803279
Huang High School                   655.0           76.629414
Johnson High School                 650.0           77.072464
Pena High School                    609.0           83.839917
Rodriguez High School               637.0           76.842711
Shelton High School                 600.0           83.359455
Thomas High School                  638.0           83.418349
Wilson High School                  578.0           83.274201
Wright High School                  583.0           83.682222

                       Average Reading Score  % Passing Math  \
Bailey High School                 81.033963       66.680064
Cabrera High School                83.975780       94.133477
Figueroa High School               81.158020       65.988471
Ford High School                   80.746258       68.309602
Griffin High School                83.816757       93.392371
Hernandez High School              80.934412       66.752967
Holden High School                 83.814988       92.505855
Huang High School                  81.182722       65.683922
Johnson High School                80.966394       66.057551
Pena High School                   84.044699       94.594595
Rodriguez High School              80.744686       66.366592
Shelton High School                83.725724       93.867121
Thomas High School                 83.848930       93.272171
Wilson High School                 83.989488       93.867718
Wright High School                 83.955000       93.333333

                       % Passing Reading  % Overall Passing
Bailey High School             81.933280          54.642283
Cabrera High School            97.039828          91.334769
Figueroa High School           80.739234          53.204476
Ford High School               79.299014          54.289887
Griffin High School            97.138965          90.599455
Hernandez High School          80.862999          53.527508
Holden High School             96.252927          89.227166
Huang High School              81.316421          53.513884
Johnson High School            81.222432          53.539172
Pena High School               95.945946          90.540541
Rodriguez High School          80.220055          52.988247
Shelton High School            95.854628          89.892107
Thomas High School             97.308869          90.948012
Wilson High School             96.539641          90.582567
Wright High School             96.611111          90.333333

In [15]:
# creates grade level average math scores for each school 
ninth_math = student_data.loc[student_data['grade'] == '9th'].groupby('School Name')["math_score"].mean()
tenth_math = student_data.loc[student_data['grade'] == '10th'].groupby('School Name')["math_score"].mean()
eleventh_math = student_data.loc[student_data['grade'] == '11th'].groupby('School Name')["math_score"].mean()
twelfth_math = student_data.loc[student_data['grade'] == '12th'].groupby('School Name')["math_score"].mean()

math_scores = pd.DataFrame({
        "9th": ninth_math,
        "10th": tenth_math,
        "11th": eleventh_math,
        "12th": twelfth_math
})
math_scores = math_scores[['9th', '10th', '11th', '12th']]
math_scores.index.name = "School Name"

# show and format
math_scores.style.format({'9th': '{:.2f}', 
                           "10th": '{:.2f}', 
                           "11th": "{:.2f}", 
                           "12th": "{:.2f}"})


# creates grade level average reading scores for each school
ninth_reading = student_data.loc[student_data['grade'] == '9th'].groupby('School Name')["reading_score"].mean()
tenth_reading = student_data.loc[student_data['grade'] == '10th'].groupby('School Name')["reading_score"].mean()
eleventh_reading = student_data.loc[student_data['grade'] == '11th'].groupby('School Name')["reading_score"].mean()
twelfth_reading = student_data.loc[student_data['grade'] == '12th'].groupby('School Name')["reading_score"].mean()

reading_scores = pd.DataFrame({
        "9th": ninth_reading,
        "10th": tenth_reading,
        "11th": eleventh_reading,
        "12th": twelfth_reading
})
reading_scores = reading_scores[['9th', '10th', '11th', '12th']]
reading_scores.index.name = "School Name"

# show and format
reading_scores.style.format({'9th': '{:.2f}', 
                           "10th": '{:.2f}', 
                           "11th": "{:.2f}", 
                           "12th": "{:.2f}"})


print ("math", math_scores)

print ("reading", reading_scores)

math                              9th       10th       11th       12th
School Name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986
reading                              9th       10th       11th       12th
School Name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [16]:
# create spending bins


bins = [0, 584, 629, 644, 675]
group_name = ["<$584", "$585-629", "$630-644", "$645-675"]

school_data_complete['spending_bins'] = pd.cut(school_data_complete['budget']/school_data_complete['size'], bins, labels = group_name)

In [17]:
#group by spending
by_spending = school_data_complete.groupby('spending_bins')


avg_math = by_spending['math_score'].mean()

avg_read = by_spending['reading_score'].mean()
pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()*100
pass_read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()*100
overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()*100
    
# df build            
scores_by_spend = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    "% Passing Math": pass_math,
    "% Passing Reading": pass_read,
    "% Overall Passing": overall
            
})
            
#reorder columns
scores_by_spend = scores_by_spend[[
    "Average Math Score",
    "Average Reading Score",
    "% Passing Math",
    "% Passing Reading",
    "% Overall Passing"
]]

scores_by_spend.index.name = "Per Student Budget"


#formating
scores_by_spend.style.format({'Average Math Score': '{:.2f}', 
                              'Average Reading Score': '{:.2f}', 
                              '% Passing Math': '{:.2f}', 
                              '% Passing Reading':'{:.2f}', 
                              '% Overall Passing': '{:.2f}'})

In [18]:
# create size bins
bins = [0, 1000, 1999,5000]
group_name = ["Small (<1000)", "Medium (1000-2000)" , "Large (2000-5000)"]
school_data_complete['size_bins'] = pd.cut(school_data_complete['size'], bins, labels = group_name)

#group by spending
by_size = school_data_complete.groupby('size_bins')

#calculations 
average_math_score = by_size['math_score'].mean()
average_reading_score = by_size['math_score'].mean()
pass_math_percent = school_data_complete[school_data_complete['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()*100
pass_read_percent = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()*100
overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()*100

In [19]:
# df build            
scores_by_size = pd.DataFrame({
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    '% Passing Math': pass_math_percent,
    '% Passing Reading': pass_read_percent,
    '% Overall Passing': overall
            
})
            
#reorder columns
scores_by_size = scores_by_size[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    '% Overall Passing'
]]

scores_by_size.index.name = "Total Students"
scores_by_size = scores_by_size.reindex(group_name)

#formating
scores_by_size.style.format({'Average Math Score': '{:.6f}', 
                              'Average Reading Score': '{:.6f}', 
                              '% Passing Math': '{:.6f}', 
                              '% Passing Reading':'{:.6f}', 
                              '% Overall Passing': '{:.6f}'})


# group by type of school
schoo_type = school_data_complete.groupby("type")

#calculations 
average_math_score = schoo_type['math_score'].mean()
average_reading_score = schoo_type['math_score'].mean()
pass_math_percent = school_data_complete[school_data_complete['math_score'] >= 70].groupby('type')['Student ID'].count()/schoo_type['Student ID'].count()*100
pass_read_percent = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('type')['Student ID'].count()/schoo_type['Student ID'].count()*100
overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('type')['Student ID'].count()/schoo_type['Student ID'].count()*100

# df build            
scores_school_type = pd.DataFrame({
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    '% Passing Math': pass_math_percent,
    '% Passing Reading': pass_read_percent,
    "% Overall Passing": overall})
    
#reorder columns
scores_school_type = scores_schoo_type[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "% Overall Passing"
]]
scores_school_type.index.name = "Type of School"


#formating
scores_school_type.style.format({'Average Math Score': '{:.6f}', 
                              'Average Reading Score': '{:.6f}', 
                              '% Passing Math': '{:.6f}', 
                              '% Passing Reading':'{:.6f}', 
                              '% Overall Passing': '{:.6f}'})